<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>xcjavatestapp.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PostLinkServlet</servlet-name>
		<servlet-class>xcjavatestapp.PostLinkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostLinkServlet</servlet-name>
		<url-pattern>/postlink</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadpageServlet</servlet-name>
		<servlet-class>serverapp.UploadpageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadpageServlet</servlet-name>
		<url-pattern>/uploadpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>serverapp.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>serverapp.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/down/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>xcjavatestapp.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
